<mat-toolbar class="header" color="primary">  
    <div class="navbar" style="color:white;">  
        <img class="logo" src="assets/img/adminLogo.png">
       <a class="title">ADMIN CONFIGURATION PANEL</a>        
      <a class="home" style="color: white;" routerLink="/employee">Create</a>
      <a class="master" style="color: white;" routerLink="/master">View</a>
      <a class="demo" style="color: white;" routerLink="/demo">Demo</a>
      <a class="logout" style="color: white;" (click)=Logout()>Logout</a>
    </div>    
  </mat-toolbar>  
  <br><br> 
